<footer>
  <div>
    <section>
      <h2>{{'Hakkımızda' | ml}}</h2>
      <div>
        {{'Ventiee tabanlı yeni bir sosyal medya platformu!' | ml}}
      </div>
    </section>
    <section>
      <h2>{{'İletişim' | ml}}</h2>
      <div class="contact">
        <!-- <div>
          <mat-icon>web_asset</mat-icon>
          <a href="https://maze-software.com/">Maze Software</a>
        </div> -->
        <div>
          <mat-icon>email</mat-icon>
          <a href="mailto: info@ventiee.com">info@ventiee.com</a>
        </div>
      </div>
    </section>
  </div>
</footer>

