@import '~@angular/material/theming';
@import 'src/theme.scss';


a:link {
  text-decoration: none;
  color: mat-color($app-font, 500);
}

a:visited {
  text-decoration: none;
  color: mat-color($app-font, 500);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.contact{
  display: flex;
  flex-direction: column;
  mat-icon {
    padding-right: 5px;
  }
  div {
    display: flex;
    padding: 5px !important;
    justify-content: flex-start;
    align-items: center;

  }
}
