@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/mixins.scss';

.backgrounds {
  display: flex;
  padding: 100px 100px;
  justify-content: space-evenly;
  overflow: hidden;
  flex-direction: row;
  background-size: 100% 99%;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  @include media-breakpoint(xs) {
    flex-direction: column;
    padding: 30px 30px 60px 30px;
  }
  @include media-breakpoint(sm) {
    flex-direction: column;
    padding: 30px 30px 150px 30px;
  }
}

.cs-h {
  max-width: 100%;
  height: auto;
  border: 0;
  object-fit: contain;
}

.cs-v {
  max-height: 600px;
  width: auto;
  border: 0;
  object-fit: contain;
}


.section {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cn {
  position: relative;
  color: white;
  width: 48%;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include media-breakpoint(xs) {
    width: 100%;
  }

  @include media-breakpoint(sm) {
    width: 100%;
  }

  @include media-breakpoint(md) {
    width: 100%;
  }

  .innerText {
    max-width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px white solid;
    border-radius: 30px;
    padding: 30px;
  }
}

.innerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
    @include media-breakpoint(xs) {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    @include media-breakpoint(sm) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
}


.top {
  background-image: url("src/assets/background.png");
  margin-bottom: 10px;
}

.middle {
  margin-bottom: 10px;
  .innerSection {
    flex-direction: column;
    align-items: center;
  }
  .cn {
    color: black;
    .innerText {
      border: 1px mat-color($app-font) solid;
    }
  }
}

.bottom {
  background-image: url("src/assets/background_3.png");
  margin-bottom: -10px;

  .innerText {
    max-width: 100%;
  }
  .section {
    flex-direction: column;
    justify-content: center;
  }
}
