<div class="backgrounds top">
  <div class="section cn hide">
    <img class="cs-v" [src]="'assets/img_phone.png'">
  </div>

  <div class="section cn">
    <div style="position: relative;">
      <img class="cs-h" [src]="'assets/img_first_desc.png'">
      <div class="innerText">
        <h1>
          Kayıt ol ve Giriş Yap
        </h1>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p> -->
      </div>
    </div>
  </div>
</div>

<div class="backgrounds middle">
  <div class="section cn">
    <div style="position: relative;">
      <img class="cs-h" [src]="'assets/img_people.png'">
      <div class="innerText">
        <h1>
          Etkinlik Oluştur ve Tanış
        </h1>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p> -->
      </div>
    </div>
  </div>
  <div class="section hide">
    <img class="cs-h" [src]="'assets/img_laptop.png'">
  </div>
</div>


<div class="backgrounds bottom">
  <div class="section hide">
    <img class="cs-h" [src]="'assets/img_party.png'">
  </div>
  <div class="section cn">
    <div style="position: relative;">
      <img class="cs-h" [src]="'assets/img_bland.png'">
      <div class="innerText">
        <h1>
          Buluş, Eğlen ve Tadını Çıkar
        </h1>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p> -->
      </div>
    </div>
  </div>
</div>
