<div class="backgrounds top">
  <div class="section cn hide">
    <img class="cs-v" [src]="'assets/img_phone.png'">
  </div>

  <div class="section cn">
    <div class="innerSection">
      <div class="innerText">
        <h1>
          Kayıt ol ve Giriş Yap
        </h1>
        <p>
          Farklı ve yeni bir sosyal medya platformuna şimdi üye ol.
        </p>
      </div>
      <img class="cs-h" [src]="'assets/1stman.png'">
    </div>
  </div>
</div>

<div class="backgrounds middle">
  <div class="section cn">
    <div class="innerSection">
      <img class="cs-h" [src]="'assets/1stwoman.png'">
      <div class="innerText">
        <h1>
          Etkinlik Oluştur ve Tanış
        </h1>
        <p>Yalnız kalma, gitmek veya yapmak istediğin şeyler için arkadaş bul.</p>
      </div>
    </div>
  </div>
  <div class="section cn">
    <img class="cs-h" [src]="'assets/img_laptop.png'">
  </div>
</div>


<div class="backgrounds bottom">
  <div class="section cn">
    <img class="cs-h" [src]="'assets/img_party.png'">
  </div>
  <div class="section cn">
    <div class="innerSection">
      <div class="innerText">
        <h1>
          Buluş, Eğlen ve Tadını Çıkar
        </h1>
        <p>
          Farklı insanlarla tanış, hobilerin veya etkinliklerin için kafa dengi insanlar bul.
        </p>
      </div>
    </div>
    <img class="cs-h" [src]="'assets/people.png'">
  </div>
</div>
