@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/mixins.scss';

.backgrounds {
  display: flex;
  padding: 100px 100px;
  justify-content: space-evenly;
  overflow: hidden;
  flex-direction: row;
  background-size: 100% 99%;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  @include media-breakpoint(xs) {
    flex-direction: column;
    padding: 30px 30px;
  }
  @include media-breakpoint(sm) {
    flex-direction: column;
    padding: 50px 50px;
  }
}

.cs-h {
  max-width: 100%;
  height: auto;
  border: 0;
}

.cs-v {
  // max-height: 70%;
  max-height: 600px;
  width: auto;
  border: 0;
}

.section {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cn {
  position: relative;
  color: white;
  width: 48%;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include media-breakpoint(xs) {
    width: 100%;
  }
  @include media-breakpoint(sm) {
    width: 100%;
  }
  @include media-breakpoint(md) {
    width: 100%;
  }
}

.innerText {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  background-image: url("src/assets/background.png");
  margin-bottom: 10px;
  .cn {
    img {
      position: relative;
    }
    .innerText {
      max-width: 42%;
      max-height: 54%;
      top: 46%;
      left: 50%;
    }
  }
}

.middle {
  // background-image: url("src/assets/background_2.png");
  margin-bottom: 10px;
  .cn {
    position: relative;
    color: mat-color($app-font, 500);

    img {
      position: relative;
    }

    .innerText {
      max-width: 60%;
      max-height: 54%;
      top: 32%;
      left: 45%;
    }
  }
}

.bottom {
  background-image: url("src/assets/background_3.png");
  margin-bottom: -10px;
  .cn {
    position: relative;
    color: mat-color($app-font, 500);

    img {
      position: relative;
    }

    .innerText {
      max-width: 60%;
      max-height: 54%;
      top: 48%;
      left: 49%;
    }
  }
}

.hide {
  @include media-breakpoint(xs) {
    display: none !important;
  }
  @include media-breakpoint(sm) {
    display: none !important;
  }
  @include media-breakpoint(md) {
    display: none !important;
  }
}

p {
  display: inline;
  @include media-breakpoint(xs) {
    display: none !important;
  }

}
