<div class="backgrounds top">
  <div class="section cn">
    <div class="innerSection">

      <div class="df fd-c text" >
        <img class="cs-h nspcl" [src]="'assets/1stwoman.png'">
        <div class="innerText">
          <h1 class="c-ptr" style="text-align: center;" (click)="goSignUp(target)">
            {{'Ventiee oluştur, sohbet et, bir daha sıkılma!' | ml}}
          </h1>
          <p style="font-size: 18px; padding: 10px; text-align: center;">
            {{'Ventiee yapmak istediğiniz ventieeler için arkadaşlar bulmanıza yardım eder.' | ml}}
          </p>
        </div>
      </div>

      <img class="cs-h spcl" [src]="'assets/1stman.png'">

    </div>
  </div>
  <div class="section cn hide form" #target>
    <sign-up-form style="width: 100%;"></sign-up-form>
  </div>

</div>

