.section {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.space {
  width: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  mat-form-field {
    min-width: 300px;
  }
  input[type="text"] {
    text-transform: lowercase;
  }
}

.stepper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

mat-horizontal-stepper {
  max-width: 500px;
}

