@import 'src/mixins.scss';

.calendar {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  button {
    margin-right: 5px;
  }
}

:host ::ng-deep .cal-month-view .cal-header .cal-cell {
  @include media-breakpoint(xs) {
    font-size: 8px;
  }
}
