.room {
    height: 80px;
    padding: 10px;
    overflow: hidden;
    box-shadow: unset;
    border-bottom: 1px rgba(0, 0, 0, 0.14) solid;
    margin-bottom: 10px
}

.roomTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-subtitle {
    margin: 0;
}

.mat-card-header-text {
  margin: 0 5px;
}

.mat-card-title {
  margin: 10;
}

.image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
