<div class="room" (click)="changeRoom()" [ngClass]="isSelected() ? 'selected' : undefined">
  <img class="titleImg" [src]="'./assets/no_img.png'">
  <div>
    <div>
      <b>{{room.title}} {{isSelected()}}</b>
    </div>

    <div style="display: flex;">
      <div class="iconInfo">
        <mat-icon>emoji_people</mat-icon>
        {{room.moderatorUser.nickname}}
      </div>
      <div class="iconInfo">
        <mat-icon>arrow_forward</mat-icon>
        {{room.startDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="iconInfo">
        <mat-icon>people</mat-icon>
        {{room.peopleCount}}
      </div>
    </div>
  </div>
</div>

