<mat-card class="room" (click)="onCloseNav()" [routerLink]="['/room', room._id]">
    <mat-card-header>
        <mat-card-title>{{room.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex;">
        <!-- <span><b>{{'startDate' | ml}}:</b> {{room.startDate | date:'dd/MM/yyyy HH:mm'}}</span> -->
        <!-- <span><b>{{'howmany' | ml}}:</b> {{room.peopleCount}}</span> -->
        <div class="iconInfo">
          <mat-icon>emoji_people</mat-icon>
          {{room.moderatorUser.nickname}}
        </div>
        <div class="iconInfo">
          <mat-icon>arrow_forward</mat-icon>
          {{room.startDate | date:'dd/MM/yyyy'}}
        </div>
        <div class="iconInfo">
          <mat-icon>people</mat-icon>
          {{room.peopleCount}}
        </div>
      </div>
    </mat-card-content>
</mat-card>
