@import 'src/mixins.scss';

.addEvent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .add {
    margin-right: 5px
  }
}

.searchBox {
  width: 100%;
}

.events {
  height: calc(100% - 100px);
  overflow-y: auto;
}
mat-form-field {
  margin-bottom: -1.25em
}

.page {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  @include media-breakpoint(xs) {
    width: 100%;
  }

  @include media-breakpoint(sm) {
    width: 100%;
  }

  @include media-breakpoint(lg) {
    width: calc(100% - 300px);
  }

  @include media-breakpoint(xl) {
    width: calc(100% - 300px);
  }
  .rooms {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-basis: 0;
    flex-grow: 0.5;
    display: block;
  }
  .wholeEvents {
    flex-basis: 0;
    flex-grow: 1;
  }
}

