@import 'src/mixins.scss';

.addEvent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  .add {
    margin-right: 5px
  }
}

.searchBox {
  width: 100%;
}

.events {
  overflow-y: auto;
}
mat-form-field {
  margin-bottom: -1.25em
}

.page {
  display: flex;
  flex-direction: row;
  height: 98%;
  width: 90%;
  justify-content: space-around;

  @include media-breakpoint(xs) {
    width: 100%;
  }

  @include media-breakpoint(sm) {
    width: 100%;
  }

  @include media-breakpoint(lg) {
    width: calc(100% - 300px);
  }

  @include media-breakpoint(xl) {
    width: calc(100% - 300px);
  }
  .rooms {
    flex-basis: 0;
    flex-grow: 0.5;
    display: block;
    margin-right: 30px;
    width: 33%;
  }
  .wholeEvents {
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    width: 66%;
    @include media-breakpoint(xs) {
      width: 95%;
    }

    @include media-breakpoint(sm) {
      width: 95%;
    }
  }
}

