@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/mixins.scss';

mat-form-field {
  margin-bottom: -1.25em
}

.page {
  height: 98%;
  width: 70%;
  @include media-breakpoint(xs) {
    width: 95%;
  }

  @include media-breakpoint(sm) {
    width: 95%;
  }

  @include media-breakpoint(md) {
    width: 95%;
  }

  @include media-breakpoint(lg) {
    width: 95%;
  }
  .rooms {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid mat-color($app-accent, 500);
    border-radius: 15px;
    height: calc(100% - 4px);
    padding: 0 10px;
    overflow: hidden;
    @include media-breakpoint(xs) {
      display: block;
    }

    @include media-breakpoint(sm) {
      display: block;
    }

    @include media-breakpoint(md) {
      justify-content: space-between;
    }
  }

}

landing {
  width: 100%;
}

room {
  display: block;
  width: 100%;
  @include media-breakpoint(xs) {
    display: none;
  }

  @include media-breakpoint(sm) {
    display: none;
  }

  @include media-breakpoint(md) {
    width: 60%;
  }
}

:host ::ng-deep .top {
  justify-content: flex-end !important;
}

:host ::ng-deep .control {
  width: 70% !important;
}
