<ng-container *ngIf="user">
  <div class="page">

    <mat-tab-group #tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <span *ngIf="unreadCount > 0" matBadge="{{unreadCount}}" matBadgeOverlap="false">{{'myEvents' | ml}}</span>
          <span *ngIf="unreadCount === 0">{{'myEvents' | ml}}</span>
        </ng-template>
        <div class="rooms">
          <chats></chats>
          <room *ngIf="activeRoom" class="room"></room>
        </div>
      </mat-tab>
      <mat-tab label="{{'events' | ml}}">
        <div class="wholeEvents">
          <div style="height: 100%; display: flex; flex-direction: column; padding: 0 10px;">
            <div class="addEvent">
              <button class="add" mat-fab color="primary" (click)="createEvent()">
                <mat-icon>add</mat-icon>
                <!-- {{'addEvent' | ml}} -->
              </button>
              <mat-form-field class="searchBox">
                <mat-label>{{'searchforanevent' | ml}}</mat-label>
                <input matInput (keyup)="onChange($event)" [(ngModel)]="value" appLowerCase>
                <button *ngIf="value" mat-icon-button matSuffix (click)="clearFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="events scroll" #eventScroll>
              <events *ngIf="(appWise | async).events" [events]="(appWise | async).events" style="display: block; height: 100%;" (onJoinEvent)="onJoinEvent($event)"></events>
              <mat-spinner *ngIf="_loading"></mat-spinner>
              <mat-card *ngIf="(appWise | async).events.length === 0">
                {{'noEventError' | ml}}
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="createEvent()">{{'createEvent' | ml}}</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</ng-container>
<ng-container *ngIf="!user">
  <landing></landing>
</ng-container>
