<form [formGroup]="signUp" class="signUpForm" (submit)="onSubmit()">

  <mat-form-field class="full-width">
    <mat-label>E-Mail</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="signUpControls.email.hasError('email') && !signUpControls.email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="signUpControls.email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="signUpControls.name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!signUp.valid">Sign Up</button>

</form>
