<form [formGroup]="signUp" class="signUpForm" (submit)="onSubmit()" autocomplete="off">

  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="signUpControls.email.hasError('email') && !signUpControls.email.hasError('required')">
      {{'emailNotValid' | ml}}
    </mat-error>
    <mat-error *ngIf="signUpControls.email.hasError('required')">
      {{'emailRequired' | ml}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'name' | ml}}</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="signUpControls.name.hasError('required')">
      {{'nameRequired' | ml}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'surname' | ml}}</mat-label>
    <input matInput type="text" formControlName="surname">
    <mat-error *ngIf="signUpControls.surname.hasError('required')">
      {{'surnameRequired' | ml}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'nickname' | ml}}</mat-label>
    <input matInput type="text" formControlName="nickname">
    <mat-error *ngIf="signUpControls.nickname.hasError('required')">
      {{'nicknameRequired' | ml}}
    </mat-error>
    <mat-error *ngIf="signUpControls.nickname.hasError('minlength')">
      {{'nicknameMinLength' | ml}}
    </mat-error>
    <mat-error *ngIf="signUpControls.nickname.hasError('maxlength')">
      {{'nicknameMaxLength' | ml}}
    </mat-error>
    <mat-error *ngIf="signUpControls.nickname.hasError('pattern')">
      {{'nicknamePattern' | ml}}
    </mat-error>
  </mat-form-field>

  <!-- <mat-checkbox formControlName="emailNotification" ngDefaultControl>{{'emailNotification' | ml}}</mat-checkbox> -->

  <password-form-element [formControl]="signUpControls.password" ngDefaultControl></password-form-element>
  <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
    <mat-checkbox formControlName="eulaStatus">&nbsp;</mat-checkbox>
    <span><span class="eula c-ptr" (click)="openModal()">Ventiee kullanıcı sözleşmesini</span> okudum ve kabul ediyorum.</span>
  </div>
  <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
    <mat-checkbox formControlName="plus18">&nbsp;</mat-checkbox>
    <span>{{'iamplus18' | ml}}</span>
  </div>
  <br>

  <button mat-raised-button color="primary" [disabled]="!signUp.valid">{{'signup' | ml}}</button>
</form>
