@import '~@angular/material/theming';
@import 'src/theme.scss';

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
}

mat-form-field,
password-form-element {
  width: 100%;
}

.errors {
  p {
    color: red !important;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  a {
    color: mat-color($app-font, 500);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  background-color: white !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  background-color: white !important;
}

mat-form-field mat-label {
  background-color: white rgba(255, 255, 255, 0.9);
}

:host ::ng-deep input.mat-input-element {
  color: mat-color($app-font, 500) !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat-color($app-font, 300);
}
