<form [formGroup]="login" class="loginForm" (submit)="onSubmit()">

  <mat-form-field class="full-width">
    <mat-label>E-Mail</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="loginControls.email.hasError('email') && !loginControls.email.hasError('required')">
      {{'emailNotValid' | ml}}
    </mat-error>
    <mat-error *ngIf="loginControls.email.hasError('required')">
      {{'emailRequired' | ml}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>{{'password' | ml}}</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="loginControls.password.hasError('required')">
      {{'passwordRequired' | ml}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">{{'login' | ml}}</button>

</form>
