<form [formGroup]="login" class="loginForm" (submit)="onSubmit()" autocomplete="off">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="loginControls.email.hasError('email') && !loginControls.email.hasError('required')">
      {{'emailNotValid' | ml}}
    </mat-error>
    <mat-error *ngIf="loginControls.email.hasError('required')">
      {{'emailRequired' | ml}}
    </mat-error>
  </mat-form-field>

  <password-form-element [formControl]="loginControls.password" ngDefaultControl></password-form-element>

  <div class="errors" *ngIf="login.status === 'VALID'">
    <p *ngIf="error === 'LoginError'">{{'loginFormError' | ml}}</p>
    <p *ngIf="error === 'NotVerified'">{{'userNotVerified' | ml}}</p>
  </div>
  <button mat-raised-button color="primary" [disabled]="!login.valid">{{'login' | ml}}</button>
  <div class="actions">
    <a class="c-ptr" routerLink="/forgotPassword">{{'forgotPassword' | ml}}</a>
    <a class="c-ptr" routerLink="/signup">{{'signup' | ml}}</a>
  </div>

</form>
