<div style="min-width: 300px; height: 100%;">
  <mat-form-field appearance="outline" class="searchBox">
    <mat-label>{{'searchchats' | ml}}</mat-label>
    <input matInput (keyup)="onChange($event)" [(ngModel)]="value" appLowerCase>
    <button *ngIf="value" mat-icon-button matSuffix (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="scroll chats" *ngIf="filteredRooms.length > 0">
    <chat-rooms *ngFor="let room of filteredRooms" [room]="room"></chat-rooms>
  </div>
  <div class="scroll chats" *ngIf="filteredRooms.length === 0">
    <p>{{'chatsNoVentiee' | ml}}</p>
  </div>
</div>
