chat-rooms {
  cursor: pointer;
}

.chats {
  overflow-y: auto;
  overflow-X: hidden;
  height: calc(100% - 70px);
}

.searchBox {
  width: calc(100% - 41px);
}

.add {
  margin-right: 5px;
  padding: 0 !important;
  width: 110px;
}

mat-form-field.mat-form-field {
  font-size: 13px;
}
