<mat-form-field class="full-width" appearance="outline">
  <!-- <mat-label>{{title | ml}}</mat-label> -->
  <input matInput [type]="showPassword ? 'text' : 'password'" [formControl]="formControl" ngDefaultControl placeholder="{{title | ml}}">
  <mat-icon matSuffix (click)="changeShowPassword()">remove_red_eye</mat-icon>
  <mat-error *ngIf="formControl.hasError('required')">
    {{'passwordRequired' | ml}}
  </mat-error>
  <mat-error *ngIf="formControl.hasError('minlength')">
    {{'passwordMinLength' | ml}}
  </mat-error>
  <mat-error *ngIf="formControl.hasError('maxlength')">
    {{'passwordMaxLength' | ml}}
  </mat-error>
</mat-form-field>
