@import '~@angular/material/theming';
@import '../../../theme.scss';

mat-sidenav-container, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    min-width: 300px;
    // background-color: #FFF55F45;
    // background-color: mat-color($app-accent, lighter);
    background-color: mat-color($app-background, 100) !important;
}

mat-form-field {
  width: 100%;
}
