@import 'src/mixins.scss';

.header-image {
  width: 64px;
  height: 64px;
  background-size: cover;
  border-radius: 32px;
}

.profile {
  height: 99%;
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  .top {
    justify-content: center;
    display: flex;
  }
}

events {
  min-width: 700px;
  @include media-breakpoint(xs) {
    width: 95%;
    min-width: 95%;
  }

  @include media-breakpoint(sm) {
    width: 95%;
    min-width: 95%;
  }
}

