@import 'src/mixins.scss';

.header-image {
  width: 64px;
  height: 64px;
  background-size: cover;
  border-radius: 32px;
  margin-right: 10px;
}

.camera-image {
  width: 48px;
  height: auto;
  background-size: cover;
  margin-right: 10px;
}

.profile {
  height: 99%;
  display: flex;
  flex-direction: column;

}

.profile-header {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  .top {
    justify-content: center;
    display: flex;
  }
}

events {
  min-width: 700px;
  @include media-breakpoint(xs) {
    width: 95%;
    min-width: 95%;
  }

  @include media-breakpoint(sm) {
    width: 95%;
    min-width: 95%;
  }
}

.comments {
  width: 100%;
  height: 100%;

  @include media-breakpoint(gt-sm) {
    width: 700px;
  }
}

.information {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  p {
    word-break: break-word;
    @include media-breakpoint(xs) {
      padding: 0 10px;
    }

    @include media-breakpoint(sm) {
      padding: 0 10px;
    }
  }
  mat-card {
    width: 100%;
    height: 100%;
    padding: 10px;

    @include media-breakpoint(gt-sm) {
      width: 700px;
    }
  }
}

.events {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

// .container:hover .header-image {
//   opacity: 0.3;
// }

// .container:hover .middle {
//   opacity: 1;
// }

