
<div mat-dialog-title style="display: flex;">
  <img [src]="data.event.imageURI || './assets/no_img.png'" class="titleImg">
  <h2>{{data.event.title}}</h2>
</div>

<div mat-dialog-content class="content">
  <div style="display: flex; flex-direction: row; align-items: center;">
    <span>{{'rating' | ml}}</span>
    <rating (onRate)="onRate($event)" [readonly]="false"></rating>
  </div>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>{{'leaveacomment' | ml}}</mat-label>
    <textarea matInput placeholder="Çok eğlendim! Bir daha!" rows="5" [formControl]="comment"></textarea>
  </mat-form-field>
  <div class="counter">{{commentLength}} / 140</div>
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="sendComment()" [disabled]="checkCommentValidation()">{{'send' | ml}}</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">{{'cancel' | ml}}</button>
</div>

