<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="icon" aria-hidden="false" (click)="toggleLeftMenu()">menu</mat-icon>
        <span routerLink="/home">{{(appState | async).user?.name}}</span>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="/login">
            <mat-icon>favorite</mat-icon>
        </button>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
