@import '~@angular/material/theming';
@import 'src/theme.scss';
@import "src/mixins.scss";

.logo {
  height: 32px;
  @include media-breakpoint(xs) {
    height: 16px
  }
}

mat-toolbar {
  background-color: mat-color($app-background, 100) !important;
}

.icon {
  margin: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-stroked-button {
  border: 2px solid mat-color($app-warn, 500) !important;
  min-width: 120px;
  max-width: 12px;
  margin-right: 5px;
}

:host ::ng-deep .action .mat-button-wrapper {
  color: mat-color($app-warn, 500) !important;
  font-weight: bold;
  width: inherit;
  display: block;
  text-overflow: clip;
  overflow: hidden;
}

.username {
  margin-left: 5px;
  font-weight: 600;
  color: mat-color($app-font, 500) !important;
  display: inline;
  @include media-breakpoint(xs) {
    display: none;
  }
}

.userpic {
  width:32px;
  height: 32px;
  border-radius: 16px;
}


