<mat-toolbar>
  <mat-toolbar-row>
    <img class="logo c-ptr" [src]="'./assets/logo_small.png'" alt="ventiee_logo" routerLink="/home">
    <!--
    <mat-icon *ngIf="user && smallScreen" class="icon c-ptr" [matBadge]="unreadMessages" matBadgeColor="accent"
      (click)="toggleLeftMenu()">menu</mat-icon>
    -->
    <mat-icon *ngIf="user" class="icon c-ptr home" aria-hidden="false" routerLink="/home" (click)="getEvents()">home</mat-icon>
    <span class="spacer"></span>
    <ng-container *ngIf="user; else noUser">

      <button mat-button [routerLink]="['/profile', user._id]">
        <img class="userpic" [src]="user.imageURI || './assets/user.png'">
        <span class="username">{{user?.nickname}}</span>
      </button>

      <button mat-button routerLink="/eventCalendar">
        <mat-icon>calendar_today</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon style="font-size: 36px; height: 36px; width: 36px;">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item [routerLink]="['/userSettings', user._id]">
          <mat-icon>settings</mat-icon>
          <span>{{'settings' | ml}}</span>
        </button>

        <button mat-menu-item (click)="report()">
          <mat-icon>report_problem</mat-icon>
          <span>{{'reportABug' | ml}}</span>
        </button>


        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{'logout' | ml}}</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #noUser>

      <!-- <button class="action" mat-stroked-button routerLink="/faq">
        {{'faq' | ml}}
      </button> -->
      <button class="action" mat-stroked-button routerLink="/login">
        {{'login' | ml}}
      </button>
      <button class="action" mat-stroked-button routerLink="/signup">
        {{'signup' | ml}}
      </button>

      <button mat-button class="lang" [matMenuTriggerFor]="menu">
        <img [src]="language.value === 'tr' ? './assets/tr.png' : './assets/en.png'">
        <span>{{ (language.value === 'tr' ? 'turkish' : 'english') | ml }}</span>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item class="lang" (click)="changeLanguage(languages.tr)">
          <img src="./assets/tr.png">
          <span>{{'turkish' | ml}}</span>
        </button>
        <button mat-menu-item class="lang" (click)="changeLanguage(languages.en)">
          <img src="./assets/en.png">
          <span>{{'english' | ml}}</span>
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
