<div style="padding: 5px">
  <div class="roomInfo" *ngIf="activeRoom">
    <span class="text">
      <b>{{'event' | ml}}:</b> {{activeRoom.title}}&nbsp;
    </span>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>event_note</mat-icon>
    </button>
  </div>

  <div #messages class="messages scroll" *ngIf="activeRoom">
    <div class="all" [ngClass]="isOwn(message) ? 'own' : 'other' "
      *ngFor="let message of activeRoom.messages; let i = index;">
      <div style="max-width: 65%; overflow: hidden;">
        <span
          *ngIf="i > 0 && activeRoom.messages[i-1].user._id !== message.user._id && !isOwn(message)">{{message.user.nickname}}</span>
        <span *ngIf="i === 0 && !isOwn(message)">{{message.user.nickname}}</span>
        <div class="message">
          <span class="messageText">{{message.message}}</span>
        </div>
      </div>
    </div>
  </div>

  <form (submit)="submit($event)" (keyup.enter)="sendMessage($event)" (keydown.enter)="$event.preventDefault()">
    <mat-form-field appearance="outline" class="messageEntry">
      <mat-label>Bir şey yazın.</mat-label>
      <textarea matInput (focus)="textareaFocus()" style="resize: none"></textarea>
    </mat-form-field>
    <!-- <emoji-mart class="emojis" set="apple" [showPreview]="false"></emoji-mart> -->
  </form>

</div>
