<div #messages class="messages">
  <div class="all" [ngClass]="isOwn(message) ? 'own' : 'other' " *ngFor="let message of activeRoom.messages; let i = index;">
    <div style="max-width: 65%; overflow: hidden;">
      <span *ngIf="i > 0 && activeRoom.messages[i-1].user.email !== message.user.email">{{message.user.name}}</span>
      <span *ngIf="i === 0">{{message.user.name}}</span>
      <div class="message">
        <span>{{message.message}}</span>
      </div>
    </div>
  </div>
</div>

<form (submit)="submit($event)" (keyup.enter)="sendMessage($event)" (keydown.enter)="$event.preventDefault()">
  <mat-form-field appearance="fill" class="messageEntry">
    <mat-label>Bir şey yazın.</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <!-- <emoji-mart class="emojis" set="apple" [showPreview]="false"></emoji-mart> -->
</form>
