@import '~@angular/material/theming';
@import '../theme.scss';
@import "../mixins.scss";


.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mainContainer {
  display: flex;
  min-height: 100vh;
}
.main-page {
  width: 100%
}

left-navigation {
  height: calc(100% - 64px);
  position: absolute;
}

footer {
  background-color: mat-color($app-background, 300);
}
