@import '~@angular/material/theming';
@import '../theme.scss';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  height: 100%;
}

left-navigation {
  height: calc(100% - 64px);
  position: absolute;
}

footer {
  background-color: mat-color($app-background, 300);
}
