@import '~@angular/material/theming';
@import '../theme.scss';
@import "../mixins.scss";


.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mainContainerSystem {
  display: inline-block;
  // min-height: calc(100vh - 70px);
  height: calc(100vh - 60px);
}

.mainContainerLanding {
  display: inline-block;
  height: auto;
}

.main-page {
  width: 100%;
  height: calc(100vh - 56px);
}

left-navigation {
  height: calc(100% - 64px);
  position: absolute;
}

footer {
  background-color: mat-color($app-background, 300);
}
