<ng-container *ngIf="user">
  <div class="profile-header">
    <div class="top">
      <div class="header-image"></div>
      <h2>{{user.nickname}}</h2>
    </div>

    <div>
      <rating [rating]='3.69' [readonly]="true"></rating>
    </div>

  </div>
  <mat-tab-group class="scroll">
    <mat-tab label="{{'profile' | ml}}">
      <mat-card style="word-break: break-all;">
        {{user.description ? user.description : 'noDesc' | ml }}
      </mat-card>
    </mat-tab>
    <mat-tab label="{{'events' | ml}}">
      <events [events]="events"></events>
    </mat-tab>
    <mat-tab label="{{'comments' | ml}}">
      <mat-card>
        <new-comment></new-comment>
        <users-comments *ngIf="comments" [userComments]="comments"></users-comments>
      </mat-card>
    </mat-tab>
  </mat-tab-group>


</ng-container>

