
<h3>{{'newPasswordInfo' | ml}}</h3>
<form (ngSubmit)="newPassword($event)" [formGroup]="passwordChange">
  <mat-form-field appearance="outline">
    <mat-label>{{'newPassword' | ml}}</mat-label>
    <input matInput placeholder="{{'email' | ml}}" type="password" formControlName="newPassword">
    <mat-error *ngIf="newPasswordControls.newPassword.hasError('required')">
      {{'passwordRequired' | ml}}
    </mat-error>
    <mat-error *ngIf="newPasswordControls.newPassword.hasError('minlength')">
      {{'passwordMinLength' | ml}}
    </mat-error>
    <mat-error *ngIf="newPasswordControls.newPassword.hasError('maxlength')">
      {{'passwordMaxLength' | ml}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{'newPasswordConfirm' | ml}}</mat-label>
    <input matInput placeholder="{{'email' | ml}}" type="password" formControlName="newPasswordConfirm">
  </mat-form-field>
  <br>
  <mat-error style="padding-bottom: 10px;" *ngIf="passwordChange.errors && passwordChange.errors.unmatchingPasswords">
    Şifreler birbirine eşit olmalıdır.
  </mat-error>
  <button mat-raised-button [disabled]="!passwordChange.valid">{{'send' | ml}}</button>
</form>
