
<h3>{{'forgotPasswordInfo' | ml}}</h3>
<form (ngSubmit)="forgotPassword($event)">
  <mat-form-field appearance="outline">
    <mat-label>{{'email' | ml}}</mat-label>
    <input matInput placeholder="{{'email' | ml}}" [formControl]="email">
    <mat-error *ngIf="email.hasError('email')">
      {{'emailNotValid' | ml}}
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      {{'emailRequired' | ml}}
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button [disabled]="!email.valid" (click)="forgotPassword($event)">{{'send' | ml}}</button>
</form>
