@import '~@angular/material/theming';
@import '../../../theme.scss';

.eventInfo mat-card {
    margin: 5px 5px 0 5px;
    background: mat-color($app-accent, 200) !important;
    cursor: pointer;
}

mat-expansion-panel {
  margin: 1px;
  background-color: mat-color($app-accent, 50) !important;
}

.eventInfo {
  display: flex;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.line {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
