<mat-form-field appearance="fill" class="searchBox">
  <mat-label>{{'searchforanevent' | ml}}</mat-label>
  <input matInput (keyup)="onChange($event)" [(ngModel)]="value" appLowerCase>
  <button mat-icon-button matPrefix (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="value" mat-icon-button matSuffix (click)="clearFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-accordion>
  <event-line *ngFor="let event of (appWise | async).events" [event]="event"></event-line>
</mat-accordion>

<mat-card *ngIf="(appWise | async).events.length === 0">
  {{'noEventError' | ml}}
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createEvent()">{{'createEvent' | ml}}</button>
  </mat-card-actions>
</mat-card>
