.addEvent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .add {
    margin-right: 5px
  }
}

.searchBox {
  width: 100%;
}

.events {
  height: calc(100% - 170px);
  overflow-y: auto;
}
mat-form-field {
  margin-bottom: -1.25em
}

