<mat-form-field appearance="fill" class="searchBox">
  <mat-label>Search for an Event!</mat-label>
  <input matInput (keyup)="onChange($event)" [(ngModel)]="value">
  <button mat-icon-button matPrefix (click)="createEvent()">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="value" mat-icon-button matSuffix (click)="clearFilter()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<event-line *ngFor="let event of (appWise | async).events" [event]="event"></event-line>
<mat-card *ngIf="(appWise | async).events.length === 0">
  Aradığınız etkinlik bulunamadı. İsterseniz yaratın.
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createEvent()">Etkinlik Yarat</button>
    <button mat-raised-button color="warn" (click)="clearFilter()">Meeh</button>
  </mat-card-actions>
</mat-card>
