<h4>Leave a rating!</h4>
<mat-card class="form">
  <mat-form-field>
    <mat-label>Event</mat-label>
    <mat-select required>
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <span>Rating</span>
    <rating (onRate)="onRate($event)"></rating>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</mat-card>
