<h4>{{'leavearating' | ml}}</h4>
<mat-card class="form">
  <mat-form-field appearance="outline">
    <mat-label>{{'event' | ml}}</mat-label>
    <mat-select required>
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <span>{{'rating' | ml}}</span>
    <rating (onRate)="onRate($event)" [readonly]="false"></rating>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>{{'leaveacomment' | ml}}</mat-label>
    <textarea matInput placeholder="Çok eğlendim! Bir daha!"></textarea>
  </mat-form-field>
</mat-card>
