mat-card {
  max-width: 500px;
  margin: 0 auto;
}

.event {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.titleImg {
  height: auto;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  width: 64px;
  object-fit: contain;
  border-radius: 15px;
}

.header-image {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px;
}

.mat-card-actions {
  text-align: center;
}

.ventieeImg {
  max-width: 300px;
}

.mat-card-header, .header {
  margin-top: 10px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
