mat-card {
  max-width: 500px;
  margin-top: 10px;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.titleImg {
  height: auto;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  width: 64px;
  object-fit: contain;
  border-radius: 15px;
}

.header-image {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 16px;
}

.mat-card-actions {
  text-align: center;
}
