@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/angular-calendar/css/angular-calendar.css";


//@import '~@ctrl/ngx-emoji-mart/picker';

html, body {
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.text {
  font: 400 15px Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.scroll {
  scrollbar-color: gray;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
