@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/angular-calendar/css/angular-calendar.css";


//@import '~@ctrl/ngx-emoji-mart/picker';

html, body {
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.text {
  font: 400 15px Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
