@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@angular/material/theming';
@import './theme.scss';

//@import '~@ctrl/ngx-emoji-mart/picker';

html, body {
  height:100%;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: mat-color($app-font, 500) !important;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;

  div:first-of-type {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: mat-color($app-primary, 200);
    margin-top: 10px;
    padding-bottom: 30px;
    section {
      display: flex;
      flex-direction: column;
    }
  }
}

.mat-tab-group {
  height: calc(100% - 70px);
}

.mat-tab-body-content,
.mat-tab-body-wrapper {
  height: calc(100% - 80px);
}

.mat-tab-body-content, .scroll {
  scrollbar-color: gray;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.mat-tab-body-content::-webkit-scrollbar, .scroll::-webkit-scrollbar {
  width: 10px;
}

.mat-tab-body-content::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.mat-tab-body-content::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.mat-icon {
  color: mat-color($app-font, 500) !important;
}

.cal-month-view .cal-open-day-events {
  background-color: mat-color($app-background, 500);
  box-shadow: inset 0 0 15px 0 mat-color($app-primary, 500);
}

.cal-month-view .cal-day-badge {
  background-color: mat-color($app-accent, 500);
}

.mat-error {
  color: mat-color($app-warn, 500) !important;
}

.mat-form-field-subscript-wrapper {
  position: inherit !important;
}

.mat-accordion .mat-expansion-panel {
  margin: 5px;
}

.timepicker__header {
  background-color: mat-color($app-primary, 500) !important;
}

.warning {
  background-color: mat-color($app-warn, 300) !important;
  span {
    color: white !important;
  }
}

.iconInfo {
  background-color: mat-color($app-warn, 200);
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field-flex {
  background-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
