@import '~@angular/material/theming';
@include mat-core();

$primary: (50 : #fdf5e6,
  100 : #fbe7c1,
  200 : #f9d798,
  300 : #f6c66e,
  400 : #f4ba4f,
  500 : #f2ae30,
  600 : #f0a72b,
  700 : #ee9d24,
  800 : #ec941e,
  900 : #e88413,
  A100 : #ffffff,
  A200 : #fff1e4,
  A400 : #ffd8b1,
  A700 : #ffcb97,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent: (50 : #e5eaeb,
  100 : #bfcbcd,
  200 : #94a8ac,
  300 : #69858b,
  400 : #486a72,
  500 : #285059,
  600 : #244951,
  700 : #1e4048,
  800 : #18373e,
  900 : #0f272e,
  A100 : #6cdcff,
  A200 : #39cfff,
  A400 : #06c3ff,
  A700 : #00b3eb,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$warn: (50 : #fae7e7,
  100 : #f4c3c3,
  200 : #ec9b9b,
  300 : #e47272,
  400 : #df5454,
  500 : #d93636,
  600 : #d53030,
  700 : #cf2929,
  800 : #ca2222,
  900 : #c01616,
  A100 : #fff2f2,
  A200 : #ffbfbf,
  A400 : #ff8c8c,
  A700 : #ff7373,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$app-primary: mat-palette($primary);
$app-accent: mat-palette($accent, 500, 900, A100);
$app-warn: mat-palette($warn);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
