<mat-dialog-content class="mat-typography scroll">
  <mat-card>
    <h4>{{data.room.title}}</h4>
    <h5 *ngIf="data.room.startDate">{{'startDate' | ml}}: {{data.room.startDate | date:'dd/MM/yyyy HH:mm'}}</h5>
    <h5 *ngIf="data.room.endDate">{{'endDate' | ml}}: {{data.room.endDate | date:'dd/MM/yyyy HH:mm'}}</h5>
    <h5>{{'howmany' | ml}}: {{data.room.peopleCount}}</h5>
    <mat-card-actions>
      <button mat-fab *ngIf="isModerator()" class="warning" (click)="cancelEvent()" [matTooltip]="'cancelEvent' | ml">
        <mat-icon>block</mat-icon>
      </button>
      <button mat-fab *ngIf="!isModerator()" class="warning" (click)="leaveEvent()" [matTooltip]="'leaveEvent' | ml">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-fab *ngIf="!isModerator()" class="warning" (click)="report()" style="margin-left: 10px" [matTooltip]="'report' | ml">
        <mat-icon>report_problem</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div style="height: 100%; overflow-y: auto; overflow-x: hidden;" *ngIf="users">
    <div *ngFor="let user of users" class="text">
      <event-info-user [room]="data.room" [user]="user" (onKickUser)="onKickUser($event)" (onReport)="report($event)"></event-info-user>
    </div>
  </div>
</mat-dialog-content>

