@import "src/mixins.scss";
@import '~@angular/material/theming';
@import 'src/theme.scss';

/*
.info {
    min-width: 500px;
    @include for-size(phone-only) {
        min-width: 360px;
    }
}
*/

h3 {
  margin: auto 0 !important;
  font-weight: bold !important;
}
.titleImg {
  height: auto;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  width: 64px;
  object-fit: contain;
  border-radius: 15px;
}

.imageContainer:hover .button {
  display: unset;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.imageContainer {
  // max-width: 300px;
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  img {
    width: 100%;
    border-radius: 10px;
    max-width: 300px;
  }
}

.button {
  display: none;
}
.saveable {
  background-color: mat-color($app-accent);
}


.unsaveable {
  background-color: mat-color($app-warn);
}

mat-form-field {
  width: 100% !important;
}

h4 {
  margin: 0 !important;
}

.mat-card .mat-divider-horizontal {
  position: inherit;
  left: 0;
  width: 99%;
}
