<div class="info">
  <mat-card>
    <h4>{{data.room.title}}</h4>
    <h5 *ngIf="data.room.startDate">{{'startDate' | ml}}: {{data.room.startDate | date:'dd/MM/yyyy HH:mm'}}</h5>
    <h5 *ngIf="data.room.endDate">{{'endDate' | ml}}: {{data.room.endDate | date:'dd/MM/yyyy HH:mm'}}</h5>
    <h5>{{'howmany' | ml}}: {{data.room.peopleCount}}</h5>
    <mat-card-actions>
      <button mat-button *ngIf="isModerator()" class="warning">{{'cancelEvent' | ml}}</button>
      <button mat-button *ngIf="!isModerator()" class="warning">{{'dontGo' | ml}}</button>
    </mat-card-actions>
  </mat-card>
  <ng-container *ngIf="users">
    <div *ngFor="let user of users" class="text">
      <event-info-user [room]="data.room" [user]="user" (onKickUser)="onKickUser($event)"></event-info-user>
    </div>
  </ng-container>
</div>
