<form (ngSubmit)="newPassword($event)" [formGroup]="passwordChange">

  <password-form-element [formControl]="newPasswordControls.newPassword" ngDefaultControl></password-form-element>
  <password-form-element [title]="'newPasswordConfirm'" [formControl]="newPasswordControls.newPasswordConfirm" ngDefaultControl></password-form-element>

  <br>
  <mat-error style="padding-bottom: 10px;" *ngIf="passwordChange.errors && passwordChange.errors.unmatchingPasswords">
    Şifreler birbirine eşit olmalıdır.
  </mat-error>
  <button mat-raised-button [disabled]="!passwordChange.valid">{{'change' | ml}}</button>
</form>
