<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'130px'" [expandedHeight]="'130px'">
    <mat-panel-title>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex;">
          <img class="titleImg" [src]="'./assets/logo.png'">
          <div style="display: flex; flex-direction: column;">
            <h3>
              {{event.title}}
            </h3>
            <div class="titleDesc">
              <!-- {{event.description}} -->
              TestTest
            </div>
          </div>
        </div>
        <div>
          <div style="display: flex">
            <div class="iconInfo">
              <mat-icon>emoji_people</mat-icon>
              {{event.moderatorUser.nickname}}
            </div>
            <div class="iconInfo">
              <mat-icon>arrow_forward</mat-icon>
              {{event.startDate | date:'dd/MM/yyyy'}}
            </div>
            <div class="iconInfo">
              <mat-icon>people</mat-icon>
              {{event.peopleCount}}
            </div>
          </div>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <div class="line" routerLink="/profile/{{event.moderatorUser._id}}">
      <div mat-card-avatar class="header-image"></div>
      <p> <b>{{'organisator' | ml}}: {{event.moderatorUser.nickname}}</b></p>
    </div>
    <br>
    <button mat-raised-button color="accent" (click)="joinEvent()" style="margin: 10px 0">{{'join' | ml}}</button>
    <br>
    <mat-card class="eventInfo">
      <div *ngIf="event">
        <h2>{{'moreInfo' | ml}}</h2>
        <mat-list role="list">
          <mat-list-item role="listitem"> <b>{{ 'startTime' | ml}}:</b>&nbsp; {{ event.startDate | date:'HH:mm' }} </mat-list-item>
          <mat-list-item role="listitem" *ngIf="event.endDate">
            <b>{{ 'endDate' | ml}}: </b>&nbsp;
            {{ event.endDate | date:'dd/MM/yyyy HH:mm' }}
          </mat-list-item>
          <mat-list-item role="listitem"> <b>{{ 'city' | ml}}: </b>&nbsp; {{  event.city }} </mat-list-item>
          <mat-list-item role="listitem"> <b>{{ 'district' | ml}}: </b>&nbsp; {{  event.district }} </mat-list-item>
          <mat-list-item role="listitem"> <b>{{ 'venue' | ml}}: </b>&nbsp; {{  event.venue }} </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
  </div>
</mat-expansion-panel>
