<mat-expansion-panel [expanded]="event._id === selectedEventId">
  <mat-expansion-panel-header [collapsedHeight]="setHeight()" [expandedHeight]="setHeight()">
    <mat-panel-title>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex; align-items: center;">
          <img class="titleImg" [src]="event.imageURI || './assets/no_img.png'">
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="headerInfo">
              <h3>
                {{event.title}}
              </h3>
            </div>
            <div routerLink="/profile/{{event.moderatorUser._id}}" *ngIf="event.moderatorUser" class="c-ptr df fd-c user">
              <div class="df ali-c">
                <img class="header-image" [src]="event.moderatorUser.imageURI || './assets/user.png'" />
                <p><b>{{event.moderatorUser.nickname}}</b></p>
              </div>
            </div>
            <div class="tags">
              <div *ngFor="let tag of event.tags" class="tag">
                {{tag}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <div class="line">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="iconInfo">
          <mat-icon>arrow_forward</mat-icon>
          {{event.startDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="iconInfo" *ngIf="event.endDate">
          <mat-icon>keyboard_tab</mat-icon>
          {{event.endDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
        <div class="iconInfo">
          <mat-icon>people</mat-icon>
          {{event.peopleCount}}
        </div>
        <div class="iconInfo" *ngIf="event.city">
          <mat-icon>place</mat-icon>
          <span *ngIf="event.city">{{event.city}}</span>
          <span *ngIf="event.district">, {{event.district}}</span>
        </div>
      </div>

      <div class="titleDesc" *ngIf="event.description">
        <h3>{{'description' | ml}}</h3>
        <p>{{event.description}}</p>
      </div>

      <div class="c-ptr df fd-r">
        <button mat-raised-button color="primary" (click)="joinEvent()" *ngIf="checkJoinable()" style="margin-right: 5px;">
          <mat-icon>playlist_add</mat-icon>
          {{'join' | ml}}
        </button>
        <button mat-raised-button color="primary" (click)="report()" style="margin-right: 5px;">
          <mat-icon>warning</mat-icon>
          {{'report' | ml}}
        </button>
        <button mat-raised-button color="warn" (click)="removeByAdminAuth(event._id)" *ngIf="checkAdmin()">
          <mat-icon>cancel</mat-icon>
          {{'remove' | ml}}
        </button>
      </div>

    </div>
  </div>
</mat-expansion-panel>
