<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
    <mat-panel-title>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex;">
          <img class="titleImg" [src]="'./assets/no_img.png'">
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="headerInfo">
              <h3>
                {{event.title}}
              </h3>
            </div>
            <div class="titleDesc" *ngIf="event.description">
              {{event.description}}
            </div>
          </div>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <div class="line">
      <div routerLink="/profile/{{event.moderatorUser._id}}" *ngIf="event.moderatorUser" style="display: flex;">
        <div class="header-image"></div>
        <p> <b>{{'organisator' | ml}}: {{event.moderatorUser.nickname}}</b></p>
      </div>
      <button mat-raised-button color="primary" (click)="joinEvent()" *ngIf="checkJoinable()">
        <mat-icon>
          playlist_add
        </mat-icon>
        {{'join' | ml}}
      </button>
    </div>
    <br>

    <div class="tags">
      <div *ngFor="let tag of event.tags" class="tag">
        {{tag}}
      </div>
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
      <div class="iconInfo">
        <mat-icon>arrow_forward</mat-icon>
        {{event.startDate | date:'dd/MM/yyyy HH:mm'}}
      </div>
      <div class="iconInfo" *ngIf="event.endDate">
        <mat-icon>keyboard_tab</mat-icon>
        {{event.endDate | date:'dd/MM/yyyy HH:mm'}}
      </div>
      <div class="iconInfo">
        <mat-icon>people</mat-icon>
        {{event.peopleCount}}
      </div>
      <div class="iconInfo" *ngIf="event.city">
        <mat-icon>place</mat-icon>
        <span *ngIf="event.city">{{event.city}}</span>
        <span *ngIf="event.district">, {{event.district}}</span>
      </div>
    </div>

  </div>
</mat-expansion-panel>
