@import '~@angular/material/theming';
@import 'src/theme.scss';

h3 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 20px;
}

mat-expansion-panel {
  margin: 10px;
  // background-color: mat-color($app-accent, 600) !important;
  // background-color: mat-color($app-primary, 300) !important;

}

.headerInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tags {

  display: flex;
  margin-bottom: 10px;
  .tag {
    background-color: mat-color($app-accent);
    color: mat-color($app-font, 500);
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    margin-right: 5px;
  }

}

.eventInfo {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 5px;
  background: mat-color($app-primary, 200) !important;
  cursor: pointer;

}

.titleImg {
  height: auto;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  width: 64px;
  object-fit: contain;
}

.titleDesc {
  margin: 5px 0;
}

.header-image {
  margin-right: 10px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}

.line {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  button {
    margin-left: 30px;
  }

}
