<div class="top">
  <div class="users">
    <!-- <p *ngFor="let user of activeRoom.users">{{user.nickname}}</p> -->
    <mat-list>
      <div mat-subheader>
        <div class="roomInfo" *ngIf="activeRoom">
          <span class="text">
            <b>{{'event' | ml}}:</b>&nbsp;{{activeRoom.title}}<br>
            <b>{{'time' | ml}}:</b>&nbsp;{{activeRoom.startDate | date:'dd/MM/yyyy HH:mm'}}
          </span>
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>event_note</mat-icon>
          </button>
          <button mat-icon-button (click)="leaveRoom()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <ng-container *ngIf="activeRoom && activeRoom.users">
        <mat-list-item *ngFor="let roomUser of activeRoom.users">
          <img mat-list-icon class="userImage" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
          <div mat-line [ngStyle]="{'color': getColor(roomUser.user)}"><b>{{roomUser.user.nickname}}</b></div>
          <div mat-line *ngIf="isLineModerator(roomUser.user)">{{'organisator' | ml}}</div>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile', roomUser.user._id]">{{'showProfile' | ml}}</button>
            <button mat-menu-item *ngIf="isModerator() && isKickable(roomUser.user)" (click)="onKickUser(roomUser.user)">{{'kickUser' | ml}}</button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <div style="padding: 5px;">
    <div class="roomInfo noDesktop" *ngIf="activeRoom">
      <span class="text">
        <b>{{'event' | ml}}:</b> {{activeRoom.title}}&nbsp; / {{activeRoom.startDate | date:'dd/MM/yyyy HH:mm'}}
      </span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>event_note</mat-icon>
      </button>
      <button mat-icon-button (click)="leaveRoom()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div #messages class="messages scroll">
      <div #scrollElement class="inner" *ngIf="activeRoom">
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-spinner *ngIf="_loading"></mat-spinner>
        </div>
        <div #messagesContainer class="messageWrapper" *ngFor="let message of activeRoom.messages; let i = index;">
          <div [ngClass]="isOwn(message) ? 'own' : 'other'" *ngIf="message.type === undefined">
            <div style="max-width: 65%; overflow: hidden;">

              <span *ngIf="i === 0 && !isOwn(message)" [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">{{message.roomUser.user.nickname}}</span>
              <span *ngIf="i > 0 && activeRoom.messages[i-1].roomUser.user._id !== message.roomUser.user._id && !isOwn(message)"
                [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">{{message.roomUser.user.nickname}}</span>
              <div class="message">
                <span class="messageText">{{message.message}}</span><br>
                <span class="messageDate">{{message.date | date:'dd/MM/yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>

          <div *ngIf="message.type === 1" style="width: 100%; display: flex; justify-content: center; margin: 10px">
            <div class="notification">
              {{message.roomUser.user.nickname}} {{'joinedNotification' | ml}}
            </div>
          </div>

          <div *ngIf="message.type === 2" style="width: 100%; display: flex; justify-content: center; margin: 10px">
            <div class="notification">
              {{message.roomUser.user.nickname}} {{'leftNotification' | ml}}
            </div>
          </div>

          <div *ngIf="message.type === 3" style="width: 100%; display: flex; justify-content: center; margin: 10px">
            <div class="notification">
              {{message.roomUser.user.nickname}} {{'kickedNotification' | ml}}
            </div>
          </div>

        </div>
      </div>
    </div>
    <form (submit)="submit($event)" (keyup.enter)="sendMessage($event)" (keydown.enter)="$event.preventDefault()" class="sendMessageForm">
      <mat-form-field appearance="outline" class="messageEntry">
        <mat-label>Bir şey yazın.</mat-label>
        <textarea matInput (focus)="textareaFocus()" style="resize: none"></textarea>
      </mat-form-field>
      <button mat-mini-fab class="sendButton">
        <mat-icon>
          keyboard_return
        </mat-icon>
      </button>
      <!-- <emoji-mart class="emojis" set="apple" [showPreview]="false"></emoji-mart> -->
    </form>
  </div>
</div>
