@import '~@angular/material/theming';
@import 'src/theme.scss';
@import 'src/mixins.scss';

$usersFullWidth: 300px;

.user {
  font-weight: bold;
}

.top {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .users {
    height: 100%;
    width: #{$usersFullWidth};
    border-radius: 15px 0 0 15px;
    background-color: mat-color($app-accent);
    display: block;
    @include media-breakpoint(xs) {
      display: none;
    }

    @include media-breakpoint(sm) {
      display: none;
    }
    .userImage {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
  }
}

.roomInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
}

.messageEntry {
  width: calc(98% - #{$usersFullWidth});
  //height: 80px;
  position: absolute;
  bottom: 0;
  @include media-breakpoint(xs) {
    width: 98%;
  }
  @include media-breakpoint(sm) {
    width: 98%;
  }
}

.messages {
  width: calc(100% - #{$usersFullWidth});
  max-height: calc(100% - 120px);
  overflow-y: auto;
  position: absolute;
  @include media-breakpoint(xs) {
    width: 100%;
    max-height: calc(100% - 180px);
  }

  @include media-breakpoint(sm) {
    width: 100%;
    max-height: calc(100% - 180px);
  }
  .inner {
    display: flex;
    flex-direction: column;
  }
}

.own, .all, .other {
  width: 100%;
  display: flex;
}

.own {
  flex-direction: row-reverse;
  text-align: right;
  .message {
    min-height: 30px;
    background-color: #6edc5b;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    .messageText {
      word-break: break-all;
      color: white !important;
    }
  }
}

.other {
  text-align: left;
  .message {
    min-height: 30px;
    background-color: beige;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    span {
      word-break: break-all;
    }
  }
}

.emojis {
  position: absolute;
  bottom: 110px;
  right: 0px;
}

.scroll {
  scroll-behavior: unset !important;
}

.noDesktop {
  display: none;
  @include media-breakpoint(xs) {
    display: flex;
  }

  @include media-breakpoint(sm) {
    display: flex;
  }
}

.messageDate {
  font-size: 8px;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.notification {
  width: 60%;
  display: flex;
  background-color: mat-color($app-primary);
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.spacer {
  flex: 1 1 auto;
}
