<div class="top" [ngClass]="!roomId ? 'ml-5' : ''">
  <div class="users">
    <!-- <p *ngFor="let user of activeRoom.users">{{user.nickname}}</p> -->
    <div class="roomInfo" *ngIf="activeRoom">
      <button mat-mini-fab color="primary" (click)="openDialog()" style="margin-right: 5px;">
        <mat-icon>event_note</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="copyTextToClipboard()" style="margin-right: 5px;">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="report()" *ngIf="!isModerator()" style="margin-right: 5px;">
        <mat-icon>report_problem</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="leaveRoom()" *ngIf="!isModerator()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="cancelEvent()" *ngIf="isModerator() && activeRoom.type==='meeting'">
        <mat-icon>block</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="completeEvent()" *ngIf="isModerator() && activeRoom.type==='conversation'">
        <mat-icon>block</mat-icon>
      </button>
    </div>
    <mat-list>
      <ng-container *ngIf="activeRoom && activeRoom.users">
        <mat-list-item *ngFor="let roomUser of activeRoom.users">
          <img mat-list-icon class="userImage" [src]="roomUser.user.imageURI || './assets/user.png'">
          <div mat-line [ngStyle]="{'color': getColor(roomUser.user)}"><b>{{roomUser.user.nickname}}</b></div>
          <div mat-line *ngIf="isLineModerator(roomUser.user)">{{'organisator' | ml}}</div>
          <div mat-line *ngIf="isLineAdmin(roomUser.user)">{{'admin' | ml}}</div>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile', roomUser.user._id]">{{'showProfile' | ml}}</button>
            <button mat-menu-item *ngIf="isKickable(roomUser.user)" (click)="report(roomUser.user)">{{'report' | ml}}</button>
            <button mat-menu-item *ngIf="isModerator() && isKickable(roomUser.user)" (click)="onKickUser(roomUser.user)">{{'kickUser' | ml}}</button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <div class="control df fd-c" [ngClass]="roomId ? 'minWidth' : 'fx1'">
    <div class="roomInfo noDesktop shadow" *ngIf="activeRoom">
      <div class="text c-ptr" (click)="openDialog()">
        <span><b>{{'event' | ml}}:</b> {{activeRoom.title}}</span>
        <div *ngIf="activeRoom.startDate">
          <mat-icon>arrow_forward</mat-icon>{{activeRoom.startDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
      <span class="spacer"></span>
      <div [ngClass]="!isSmallScreen ? 'hidden' : 'df'">
        <button mat-mini-fab color="primary" class="mr-5" (click)="copyTextToClipboard()">
          <mat-icon>share</mat-icon>
          <!-- {{'leaveEvent' | ml}} -->
        </button>
        <button mat-mini-fab color="warn" (click)="leaveRoom()">
          <mat-icon>clear</mat-icon>
          <!-- {{'leaveEvent' | ml}} -->
        </button>

      </div>
    </div>
    <div #messages class="messages scroll">
      <div #scrollElement class="inner" *ngIf="activeRoom">
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-spinner *ngIf="_loading"></mat-spinner>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;" class="c-ptr" *ngIf="!isAllMessages" (click)="loadMoreWithButton()">
          {{'loadMoreMessage' | ml}}
        </div>
        <ng-container *ngFor="let message of activeRoom.messages; let i = index;">
          <div *ngIf="i > 0 && getOnlyDate(activeRoom.messages[i-1].date) !== getOnlyDate(message.date)" class="mContainer">
            <span class="date">{{getOnlyDate(message.date)}}</span>
          </div>
          <div #messagesContainer class="messageWrapper"
          [ngClass]="(i > 0 && activeRoom.messages[i-1].roomUser.user._id !== message.roomUser.user._id) || i === 0 ? 'dMargin' : ''">
            <div [ngClass]="isOwn(message) ? 'own' : 'other'" *ngIf="message.type === undefined">
              <div style="max-width: 65%; overflow: hidden;">
                <span *ngIf="i === 0 && !isOwn(message)" [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">{{message.roomUser.user.nickname}}</span>

                <span *ngIf="i > 0 &&
                             (
                               activeRoom.messages[i-1].roomUser.user._id !== message.roomUser.user._id ||
                               getOnlyDate(activeRoom.messages[i-1].date) !== getOnlyDate(message.date)
                              ) &&
                             !isOwn(message)"
                  [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">
                  {{message.roomUser.user.nickname}}
                </span>

                <div class="message">
                  <span class="messageText" [innerHTML]="message.message | linkify"></span><br>
                  <span class="messageDate">{{message.date | date:'HH:mm'}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="message.type === 1" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'joinedNotification' | ml}}
              </div>
            </div>
            <div *ngIf="message.type === 2" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'leftNotification' | ml}}
              </div>
            </div>
            <div *ngIf="message.type === 3" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'kickedNotification' | ml}}
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="sendMessageForm">
      <mat-form-field appearance="outline" class="messageEntry">
        <mat-label>Bir şey yazın.</mat-label>
        <textarea
          matInput
          style="resize: none"
          [formControl]="message"
          (keyup.enter)="sendMessage()"
          (keydown.enter)="$event.preventDefault()"
          (focus)="textareaFocus()">
        </textarea>
      </mat-form-field>
      <button mat-mini-fab (click)="sendMessage()" class="sendButton">
        <mat-icon>
          keyboard_return
        </mat-icon>
      </button>
      <!-- <emoji-mart class="emojis" set="apple" [showPreview]="false"></emoji-mart> -->
    </div>
  </div>
</div>
