<div class="top">
  <div class="users">
    <!-- <p *ngFor="let user of activeRoom.users">{{user.nickname}}</p> -->
    <div class="roomInfo" *ngIf="activeRoom">
      <button mat-raised-button color="primary" (click)="openDialog()" style="margin-right: 5px;">
        <mat-icon>event_note</mat-icon>
        {{'info' | ml}}
      </button>
      <button mat-raised-button color="primary" (click)="leaveRoom()" *ngIf="!isModerator()">
        <mat-icon>clear</mat-icon>
        {{'quit' | ml}}
      </button>
      <button mat-raised-button color="primary" (click)="cancelEvent()" *ngIf="isModerator()">
        <mat-icon>block</mat-icon>
        {{'cancel' | ml}}
      </button>
    </div>
    <mat-list>
      <ng-container *ngIf="activeRoom && activeRoom.users">
        <mat-list-item *ngFor="let roomUser of activeRoom.users">
          <img mat-list-icon class="userImage" [src]="user.imageURI || './assets/user.png'">
          <div mat-line [ngStyle]="{'color': getColor(roomUser.user)}"><b>{{roomUser.user.nickname}}</b></div>
          <div mat-line *ngIf="isLineModerator(roomUser.user)">{{'organisator' | ml}}</div>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile', roomUser.user._id]">{{'showProfile' | ml}}</button>
            <button mat-menu-item *ngIf="isModerator() && isKickable(roomUser.user)" (click)="onKickUser(roomUser.user)">{{'kickUser' | ml}}</button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <div class="control">
    <div class="roomInfo noDesktop" *ngIf="activeRoom">
      <div class="text c-ptr" (click)="openDialog()">
        <span><b>{{'event' | ml}}:</b> {{activeRoom.title}}</span>
        <div>
          <mat-icon>arrow_forward</mat-icon>{{activeRoom.startDate | date:'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
      <span class="spacer"></span>
      <div [ngClass]="!isSmallScreen ? 'hidden' : 'showFlex'">
        <button mat-flat-button color="accent" (click)="leaveRoom()">
          <mat-icon>clear</mat-icon>
          {{'leaveEvent' | ml}}
        </button>
      </div>
    </div>
    <div #messages class="messages scroll">
      <div #scrollElement class="inner" *ngIf="activeRoom">
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-spinner *ngIf="_loading"></mat-spinner>
        </div>
        <ng-container *ngFor="let message of activeRoom.messages; let i = index;">
          <div *ngIf="i > 0 && getOnlyDate(activeRoom.messages[i-1].date) !== getOnlyDate(message.date)" class="mContainer">
            <span class="date">{{getOnlyDate(message.date)}}</span>
          </div>
          <div #messagesContainer class="messageWrapper">
            <div [ngClass]="isOwn(message) ? 'own' : 'other'" *ngIf="message.type === undefined">
              <div style="max-width: 65%; overflow: hidden;">
                <span *ngIf="i === 0 && !isOwn(message)" [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">{{message.roomUser.user.nickname}}</span>
                <span *ngIf="i > 0 && activeRoom.messages[i-1].roomUser.user._id !== message.roomUser.user._id && !isOwn(message)"
                  [ngStyle]="{'color': getColor(message.roomUser.user)}" class="user">{{message.roomUser.user.nickname}}</span>
                <div class="message">
                  <span class="messageText">{{message.message}}</span><br>
                  <span class="messageDate">{{message.date | date:'dd/MM/yyyy HH:mm'}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="message.type === 1" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'joinedNotification' | ml}}
              </div>
            </div>
            <div *ngIf="message.type === 2" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'leftNotification' | ml}}
              </div>
            </div>
            <div *ngIf="message.type === 3" class="mContainer">
              <div class="notification">
                {{message.roomUser.user.nickname}} {{'kickedNotification' | ml}}
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
    <form (submit)="submit($event)" (keyup.enter)="sendMessage($event)" (keydown.enter)="$event.preventDefault()" class="sendMessageForm">
      <mat-form-field appearance="outline" class="messageEntry">
        <mat-label>Bir şey yazın.</mat-label>
        <textarea matInput (focus)="textareaFocus()" style="resize: none"></textarea>
      </mat-form-field>
      <button mat-mini-fab class="sendButton">
        <mat-icon>
          keyboard_return
        </mat-icon>
      </button>
      <!-- <emoji-mart class="emojis" set="apple" [showPreview]="false"></emoji-mart> -->
    </form>
  </div>
</div>
