<fieldset class="rating" [ngClass]="readonly ? 'readonly' : 'edit'">

  <input type="radio" #star [id]="'star50' + uuid" value="5" />
  <label class="full" [for]="'star50' + uuid" title="Awesome - 5 stars" (click)="rate(5)"></label>

  <input type="radio" #star [id]="'star45' + uuid" value="4 and a half"/>
  <label class="half" [for]="'star45' + uuid" title="Pretty good - 4.5 stars" (click)="rate(4.5)"></label>

  <input type="radio" #star [id]="'star40' + uuid" value="4" />
  <label class="full" [for]="'star40' + uuid" title="Pretty good - 4 stars" (click)="rate(4)"></label>

  <input type="radio" #star [id]="'star35' + uuid" value="3 and a half" />
  <label class="half" [for]="'star35' + uuid" title="Meh - 3.5 stars" (click)="rate(3.5)"></label>

  <input type="radio" #star [id]="'star30' + uuid" value="3" />
  <label class="full" [for]="'star30' + uuid" title="Meh - 3 stars" (click)="rate(3)"></label>

  <input type="radio" #star [id]="'star25' + uuid" value="2 and a half" />
  <label class="half" [for]="'star25' + uuid" title="Kinda bad - 2.5 stars" (click)="rate(2.5)"></label>

  <input type="radio" #star [id]="'star20' + uuid" value="2" />
  <label class="full" [for]="'star20' + uuid" title="Kinda bad - 2 stars" (click)="rate(2)"></label>

  <input type="radio" #star [id]="'star15' + uuid" value="1 and a half" />
  <label class="half" [for]="'star15' + uuid" title="Meh - 1.5 stars" (click)="rate(1.5)"></label>

  <input type="radio" #star [id]="'star10' + uuid" value="1" />
  <label class="full" [for]="'star10' + uuid" title="Sucks big time - 1 star" (click)="rate(1)"></label>

  <input type="radio" #star [id]="'star05' + uuid" value="half" />
  <label class="half" [for]="'star05' + uuid" title="Sucks big time - 0.5 stars" (click)="rate(0.5)"></label>

</fieldset>
